### Project
*.zip
studio.json
*.psd
*.log
.mcdev.json

/.venv*/
/.mcdev/
/.vscode/

/docs/库设计审查报告.md

/src/nuoyanlib/extensions/*
!/src/nuoyanlib/extensions/__init__.py

/scripts/event_typing/*
!/scripts/event_typing/main.py
!/scripts/event_typing/all_events.py
/scripts/wiki_crawler/*
!/scripts/wiki_crawler/main.py
/scripts/make_release/*
!/scripts/make_release/main.py
/scripts/installer/*
!/scripts/installer/main.py
!/scripts/installer/installer.py
!/scripts/installer/ui.py
!/scripts/installer/build.cmd
!/scripts/installer/installer.spec

/tests/ingame_test/.idea/
/tests/ingame_test/.mcs/
/tests/ingame_test/bp/test_scripts/nuoyanlib/
/tests/ingame_test/bp/test_scripts/nuoyanlib
/tests/ingame_test/mcdk.exe
/tests/ingame_test/.mcdev.json
/tests/ingame_test/world_behavior_packs.json
/tests/ingame_test/world_resource_packs.json


### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/


### JetBrains IDEs
# User-specific stuff
.idea/nuoyanlib.iml
.idea/misc.xml
.idea/git_toolbox_prj.xml
.idea/markdown.xml
.idea/vcs.xml
.idea/modules.xml
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/GitCommitMessageStorage.xml
.idea/git_toolbox_prj.xml
.idea/copilot.*.xml
.idea/copilot*.xml
